# === Python ===
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.env.*

# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
.env
.env.*

# === OS & Editor Files ===
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# === Build Files ===
dist/
build/
.cache/
coverage/
